@page
@model Portfolio.Pages.Admin.Projects.DetailsModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="section">
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.DateStarted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.DateStarted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.DateEnded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.DateEnded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.File)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.File)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Thumbnail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Thumbnail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Hidden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Hidden)
        </dd>
    </dl>
</div>

<a class="button" asp-page="./Edit" asp-route-id="@Model.Project.Name">Edit</a>
<a class="button" asp-page="../Dashboard">Back to List</a>
