@page
@model Portfolio.Pages.Admin.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Project.DateStarted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.DateStarted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.DateEnded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.DateEnded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.File)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.File)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Thumbnail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Thumbnail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Hidden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Hidden)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Project.Name">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
