<!DOCTYPE html>
<html lang="en">
<head>
    @* Meta *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Anthony Safatli</title>

    @* CSS *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @await RenderSectionAsync("Styles", required: false)

    @* Fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <canvas class="webgl"></canvas>

    <header>
        <!-- TODO: Logo + icon -->
        <nav>
            <a asp-page="\Index">Home</a>
            <a asp-page="\Projects">Projects</a>
            <a asp-page="\AboutMe">About Me</a>
            <a asp-page="\Contact">Contact</a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <span>
            &copy; 2024 - Anthony Safatli
        </span>
        <!-- TODO: Make iphone friendly -->
        <nav>
            <a href="https://github.com/AnthonySafatli" class="fa fa-github" target="_blank"></a>
            <a href="https://www.instagram.com/anthonysafatli124/" class="fa fa-instagram" target="_blank"></a>
            <a href="https://www.linkedin.com/in/anthony-safatli-755823296/" class="fa fa-linkedin" target="_blank"></a>
            <a href="mailto:anthonysafatli@dal.ca" class="fa fa-envelope"></a>
        </nav>
    </footer>

    <script>var globeX = @ViewData["Globe X"]; var globeY = @ViewData["Globe Y"]; var globeZ = @ViewData["Globe Z"];</script>
    <script>var lowColour = [0.0, 0.5, 0.5]; var highColour = [0.5, 1.0, 1.0]; var wireColour = 0x203030</script>
    <script src="~/dist/site.bundle.js" asp-append-version="true"></script>
    <script src="~/dist/background.bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>