@page "{name}"
@using Portfolio.Models
@inject Portfolio.Services.PageRenderingService PageRenderingService
@model Portfolio.Pages.ProjectModel
@{
    ViewData["Title"] = Model.Project?.DisplayName;

    ViewData["Globe X"] = 0;
    ViewData["Globe Y"] = -0.5;
    ViewData["Globe Z"] = -3;
    ViewData["Globe Opacity"] = 0.15;

    ViewData["Description"] = Model.Project?.Description;
    ViewData["Robots"] = "index, follow";
}

@section Styles {
    <link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />
}

<h1 class="title">@Model.Project.DisplayName</h1>

<div class="links">
    @if (!String.IsNullOrEmpty(Model.Project.Github))
    {
        <a href="@Model.Project.Github" target="_blank"><span class="fa fa-mini fa-github"></span>&nbsp;Github</a>
    }
    @if (!String.IsNullOrEmpty(Model.Project.Page))
    {
        <a href="@Model.Project.Page" target="_blank"><span class="fa fa-mini fa-globe"></span>&nbsp;Webpage</a>
    }
    @if (!String.IsNullOrEmpty(Model.Project.Download))
    {
        <a href="@Model.Project.Download" target="_blank"><span class="fa fa-mini fa-download"></span>&nbsp;Download</a>
    }
</div>

<div id="dates">
    <span>Date Started: <span class="bolder">@Model.Project.DateStarted.ToString("MMMM yyy")</span></span>
    <span>Date Ended: <span class="bolder">@Model.Project.DateEnded.ToString("MMMM yyy")</span></span>
</div>

<div id="contianer">
    <div id="project-page">
        @foreach (PageElement element in Model.ProjectPage.Elements)
        {
            @Html.Raw(PageRenderingService.RenderElement(element));
        }
    </div>
</div>