@page
@model Portfolio.Pages.Admin.DashboardModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="center-rows section gap">
    <a class="button" asp-page="../Index">Exit Admin Zone</a>
    <a class="button" asp-page="./Files/Index">File Manager</a>
    <a class="button" asp-page="./Files/Upload">Upload Media</a>
</div>


<div class="title-button-container">
    <h2>Projects</h2>
    <a class="button" asp-page="./Projects/Create">Add Project</a>
</div>

<div class="center section">
    <table>
        <thead>
            <tr>
                <th class="name"></th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects[0].PageContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects[0].Thumbnail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects[0].Hidden)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Projects)
            {
                <tr>
                    <td class="name">
                        @Html.DisplayFor(modelItem => item.SortOrder)
                        <span>-</span>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td>
                        @if (Model.validPageContent(item.PageContent))
                        {
                            @Html.Raw("&#x2714");
                        }
                    </td>
                    <td>
                        <img class="preview" alt="thumbnail for @item.DisplayName [@item.Thumbnail]" src="~/projects/@item.Thumbnail" />
                    </td>
                    <td>
                        @if (item.Hidden)
                        {
                            @Html.Raw("&#x2714");
                        }
                    </td>
                    <td>
                        <a class="inline-button" asp-page="./Projects/View" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="title-button-container">
    <h2>Tech Stack Items</h2>
    <a class="button" asp-page="./TechStackItems/Create">Add Tech Stack Item</a>
</div>

<div class="center section">
    <table>
        <thead>
            <tr>
                <th class="name"></th>
                <th>
                    @Html.DisplayNameFor(model => model.TechStackItems[0].PathToImage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TechStackItems)
            {
                <tr>
                    <td class="name">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img class="preview" alt="thumbnail for @item.Name [@item.PathToImage]" src="~/projects/@item.PathToImage" />
                    </td>
                    <td>
                        <a class="inline-button" asp-page="./TechStackItems/View" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
