@page
@model Portfolio.Pages.Admin.DashboardModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="center section gap">
    <a class="button" asp-page="../Index">Exit Admin Zone</a>
    <a class="button" asp-page="./Files/Index">File Manager</a>
    <a class="button" asp-page="./Files/Upload">Upload File</a>
    <a class="button" asp-page="./Projects/Create">Create New</a>
</div>

<div class="center section">
    <table>
        <thead>
            <tr>
                <th class="name"></th>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].DateStarted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].DateEnded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].File)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].Thumbnail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].Hidden)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Project)
            {
                <tr>
                    <td class="name">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStarted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEnded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.File)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Thumbnail)
                    </td>
                    <td>
                        @if (item.Hidden)
                        {
                            @Html.Raw("&#x2714");
                        }
                    </td>
                    <td>
                        <a class="inline-button" asp-page="./Projects/Edit" asp-route-id="@item.Name">Edit</a>
                        <a class="inline-button" asp-page="./Projects/Delete" asp-route-id="@item.Name">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
