@page
@model Portfolio.Pages.Admin.DashboardModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="center-rows section gap">
    <a class="button" asp-page="../Index">Exit Admin Zone</a>
    <a class="button" asp-page="./Files/Index">File Manager</a>
    <a class="button" asp-page="./Files/Upload">Upload Media</a>
    <a class="button" asp-page="./Projects/Create">Create Project</a>
</div>

<div class="center section">
    <table>
        <thead>
            <tr>
                <th class="name"></th>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].File)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].Thumbnail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].Tags)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].Hidden)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Project)
            {
                <tr>
                    <td class="name">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.File)
                    </td>
                    <td>
                        <img class="preview" alt="thumbnail for @item.Name [@item.Thumbnail]" src="~/projects/@item.Thumbnail" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tags)
                    </td>
                    <td>
                        @if (item.Hidden)
                        {
                            @Html.Raw("&#x2714");
                        }
                    </td>
                    <td>
                        <a class="inline-button" asp-page="./Projects/Edit" asp-route-id="@item.Name">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
